<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .qr-code-container {
            display: inline-block;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            margin-top: 50px;

        }
        .qr-code img {
            width: 150px; /* Adjust the size of the QR code */
            height: 150px;
        }
    </style>
</head>
<body>
    <div class="qr-code-container">
        <h1>QR Code for {{ username }}</h1>
        <div class="qr-code">
            <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
        </div>
    </div>
</body>
</html>
